<div id="disqus_thread"></div>
<script>
    /* 
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: [5](https://disqus.com/admin/universalcode/)    
    */
    /* var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    }; */
	
	//JS Script to get active Window URL
	var disqus_config = function () {
	    this.page.url = window.location.href;  // This is the URL of the current page
	    this.page.identifier = window.location.pathname; // This is the unique identifier for the current page
	};

    (function()  {  
    // DON'T EDIT BELOW THIS LINE
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if  (window.location.hostname ==  "localhost") return; 
    var  d =  document, s = d.createElement('script');
    s.src =  '[6](https://il0g.disqus.com/embed.js)';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript> Please enable JavaScript to view the  <a href="[7](https://disqus.com/?ref_noscript)"> comments powered by Disqus. </a></noscript>
